BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=123456789
BOT_DB_PATH_HOST=/srv/ege-bot/private/database/bot.db
PHYSICS_DB_PATH_HOST=/srv/ege-bot/private/database/physics.db
MATH_DB_PATH_HOST=/srv/ege-bot/private/database/math.db
CARDS_DIR_HOST=/srv/ege-bot/private/cards
CARDS_SOL_DIR_HOST=/srv/ege-bot/private/cards_solution
